<!-- favicons in different sizes -->
{{ $favicon180:= site.Params.favicon180 }}
{{ if fileExists (add `assets/` $favicon180) }}
{{ $favicon_180:= resources.Get $favicon180 }}
<link rel="apple-touch-icon" sizes="180x180" href="{{$favicon_180.RelPermalink}}">
{{ end }}

{{ $favicon32:= site.Params.favicon32 }}
{{ if fileExists (add `assets/` $favicon32) }}
{{ $favicon_32:= resources.Get $favicon32 }}
<link rel="shortcut icon" href="{{$favicon_32.RelPermalink}}" type="image/x-icon">
<link rel="icon" href="{{$favicon_32.RelPermalink}}" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="{{$favicon_32.RelPermalink}}">
{{ end }}

{{ $favicon16:= site.Params.favicon16 }}
{{ if fileExists (add `assets/` $favicon16) }}
{{ $favicon_16:= resources.Get $favicon16 }}
<link rel="icon" type="image/png" sizes="16x16" href="{{$favicon_16.RelPermalink}}">
{{ end }}


